<% unless popular_article.nil? %>
  <div class="jumbotron", style="background-image: url(<%=url_for(popular_article.image)%>)";>
    <h2 class="display-5 font-weight-bold"><%= popular_article.title %></h2>
    <p class="lead"><%= popular_article.body %></p>
  </div>
<% end %>
<div class="grid-container">
  <% list_categories.each do |category|%>
    <%= link_to category_path(category) do %>
      <div class = 'box', <% if category.articles.exists? %>style="background-image: url(<%=url_for(recent_article(category).image)%>)";<%end%>>
        <h2 class = 'category-head'><%= category.name.capitalize %></h2>
        <% if category.articles.exists? %>
          <h4 class = 'pt-5'><%= recent_article(category).title%></h4>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
