<!DOCTYPE html>
<html>
  <head>
    <title>RoshanLife</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/a0d360eeab.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/navigation' %>
    <% flash.each do |key, msg| %>
      <div class = 'text-center'>
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
    <footer class = 'p-lg-2'>
      <%= link_to root_path do %>
        <%= image_tag "my_logo1.jpg" %>
      <% end %>
      <div>
        <div><span>Privacy Policy Termes&Conditions</span> © 2020 Copyright: All rights reserved </div>
      </div>
      <div>Contact Us:
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook-f"></i>
      </div>
    </footer>
  </body>
</html>
