<!DOCTYPE html>
<html>
  <head>
    <title>RoshanLife</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand">Navbar</a>
        <div>
        <a class="navbar-brand">Navbar</a>
        <a class="navbar-brand">Navbar</a>
        <a class="navbar-brand">Navbar</a>
        <a class="navbar-brand">Navbar</a>
        </div>
        <div>
        <a class="navbar-brand">Navbar</a>
        <a class="navbar-brand">Navbar</a>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
