<!DOCTYPE html>
<html>
  <head>
    <title>RoshanLife</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav>
      <ul class = "nav-main">
        <li>
          <a href = '#'>Navbrand</a>
        </li>
        <li>
          <a href = '#' class = 'active'>HOME</a>
          <a href = '#'>FASION</a>
          <a href = '#'>BUSINESS</a>
          <a href = '#'>SPORTS</a>
          <a href = '#'>ENTERTAINMENT</a>
          <a href = '#'>MAGAZINE</a>
          <a href = '#'>TV</a>
        </li>
        <li>
          <%= link_to 'LOGIN', login_path %> |
          <a href = '#'>REGISTER</a>
          <a href = '#'>Navbrand</a>
        </li>
        <ul>
        </nav>
        <%= yield %>
      </body>
    </html>
